/*=====================================================================*/
/*                           General Styles                            */
/*=====================================================================*/
* {
    margin: 0;
    padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
html {
	font: normal 16px sans-serif;
    color: #555;
}
nav, ul {
	list-style: none;
}

a, a:hover {
	text-decoration: none;
	color:#fff;
}

section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	padding: 40px 80px;
}
section:not(.hero):nth-child(even) {
	background-color: #f5f5f5;
}
section h3.title {
	text-transform: capitalize;
	font: bold 32px "Open Sans", sans-serif;
	margin-bottom: 30px;
	text-align: center;
}
section p {
	max-width: 775px;
	line-height: 2;
	padding: 0 20px;
	text-align: center;
	margin-bottom: 30px;
}

/* ====================================================================*/
/*                          Header Styles                             */
/*====================================================================*/
header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 35px 100px 0;
	-webkit-animation: 1s fadein 0.5s forwards;
	        animation: 1s fadein 0.5s forwards;
	opacity: 0;
	font-size: 1.3em;
}
@-webkit-keyframes fadein {
	100% {
		opacity: 1;
	}
}
@keyframes fadein {
	100% {
		opacity: 1;
	}
}
header nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-right: -20px;
}
header nav li {
	margin-right: 30px;
}
header h2 {
	font-family: "Quicksand", sans-serif;
}
#page_header {
	color: black;
}
nav li a {
	color: black
}
nav li a:hover {
	color: black
}
/*=====================================================================*/
/*                          Hero Styles                                */
/*=====================================================================*/

.hero {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	min-height: 100vh;
	color: #fff;
}
.hero .background-image {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: cover;
	z-index: -1;
}
.hero h1 {
	font: bold 55px "Open Sans", sans-serif;
}
.hero h3 {
	font: normal 28px "Open Sans", sans-serif;
}
.hero-content-area {
	padding: 30px;
	background-color:rgba(111, 10, 0, 0.5);
	color: white;
	opacity: 0.2;
	border-radius: 10px;
	opacity: 0;
	margin-top: 300px;
	-webkit-animation: 1s slidefade 1s forwards;
	        animation: 1s slidefade 1s forwards;
}
@-webkit-keyframes slidefade {
	100% {
		opacity: 1;
		margin-top: 0;
	}
}
@keyframes slidefade {
	100% {
		opacity: 1;
		margin-top: 0;
	}
}
@media (max-width: 500px) {
	@-webkit-keyframes slidefade {
		100% {
			opacity: 1;
			margin-top: -200px;
		}
	}
	@keyframes slidefade {
		100% {
			opacity: 1;
			margin-top: -300px;
		}
	}
	.hero-content-area {
		padding: 15px;
	}
	@media (max-height: 600px) {
		.hero h1 {
			font: bold 28px "Open Sans", sans-serif;
		}
		.hero h3 {
			font: normal 14px "Open Sans", sans-serif;
		}
	}
}

/*=====================================================================*/
/*                          About Us Styles                            */
/*=====================================================================*/
section.about-us h3.title {
	font: bold 28px "Open Sans", sans-serif;
	margin-bottom: 15px;
}
section.about-us .mission {
	margin-bottom: 0;
}

hr {
	background-color: #B03717;
	width: 250px;
	height: 3px;
	border: 0;
	margin: 40px 0;
}
.about-us .grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.about-us .grid li {
	height: 350px;
	padding: 10px;
	background-size: cover;
	background-position: center;
	background-clip: content-box;
}
/* need to apply width to the actual li's that contain the images to see the images */
.about-us .grid li.small {
	-ms-flex-preferred-size: 35%;
	    flex-basis: 35%;

}
.about-us .grid li.large {
	-ms-flex-preferred-size: 55%;
	    flex-basis: 55%;
}
@media (max-width: 1100px) {
	.about-us .grid li.small, .about-us .grid li.large {
		-ms-flex-preferred-size: 50%;
		    flex-basis: 50%;
	}
}
@media (max-width: 800px) {
	.about-us .grid li.large {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
	}
	.about-us .grid li.small {
		display: none;
	}
}
@media (max-width: 500px) {
	.about-us .grid li.large {
		display: none;
	}
	hr.hide {
		display: none;
	}
}
/*=====================================================================*/
/*                          Contact Styles                            */
/*=====================================================================*/

#contact_form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 60%;
}
.contact form div.btn {
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: #CA0A00;
	color: white;
}
.contact form .btn {
	padding: 18px 42px;
}
.contact form input {
	padding: 15px;
	font-size: 18px;
	color: white;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}
.contact form input[type="email"] {
	margin-right: 30px;
}
.contact form a {
	color: black;
}
form p {
	margin-bottom: 0;
}
div.submission {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
@media (max-width: 800px) {
	#contact_form h3 {
		padding-top: 20px;
	}
	#contact_form p {
		margin-bottom: 0;
	}
	.submission {
		width: 60%;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	#contact_form input {
		margin: 10px 2px 10px 2px;
	}
	#contact_form .btn {
		padding: 9px 21px;
	}
}
/*=====================================================================*/
/*                          Image Gallery Styles                       */
/*=====================================================================*/
.carousel-container {
	width: 100%;
	margin: auto;
	overflow: hidden;
	overflow: hidden;
	position: relative;
}
.carousel-slide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}
.carousel-slide img {
	/* max-width: 100%; */
	height: 500px;
	margin: 0 auto;
}
.carousel-slide img.rotate {
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
}
.carousel-slide img.rotate_3x {
	-webkit-transform: rotate(270deg);
	    -ms-transform: rotate(270deg);
	        transform: rotate(270deg);
}

#prevBtn {
	position: absolute;
	top: 50%;
	z-index: 10;
	left: 5%;
	font-size: 30px;
	color: #CA0A00;
	cursor: pointer;
}
#nextBtn {
	position: absolute;
	top: 50%;
	z-index: 10;
	right: 5%;
	font-size: 30px;
	color: #CA0A00;
	cursor: pointer;
}
@media (max-width: 800px) {
	.carousel-slide img {
		height: 300px;
		left: -20px;
	}
}
/*RESPONSIVE MEDIA QUERIES HAVE TO BE AT THE BOTTOM OF THE CSS TO WORK*/
/*====================================================================*/
/*                          Responsive Design                         */
/*====================================================================*/
/*RESPONSIVE MEDIA QUERIES HAVE TO BE AT THE BOTTOM OF THE CSS TO WORK*/
@media (max-width: 800px) {
	section {
		padding: 20px 50px;
	}
	header {
		padding: 20px 50px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}
